@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');

:root {
  --smoky-black: #0F110C;
  --nyanza: #EAF4D3;
  --vivid-tangerine: #FFA69E;
  --irrisistable: #AA4465;
  --pansy-purple: #861657;

  background-color: var(--nyanza);
}

h1, h2, h3, h4 {
  color: var(--pansy-purple);
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
